.category {
  cursor: pointer;
  background-color: #f6bd52;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px 5px 0;
  width: fit-content;
  display: inline-block;

  &.selected {
    background-color: #d69c31;
  }
}