<h1>Contact us</h1>

<div class="email">Send us email at <a href="mailto:quantumfoundations@gmail.com">quantumfoundations@gmail.com</a></div>


<div class="content" fxLayout="row" fxLayout.lt-md="column" fxFlexFill>
    <div fxFlex="60">
  
      <div class="sketchfab-embed-wrapper">
        <iframe width="100%" src="https://sketchfab.com/models/386ff9ae54ed45c9b191c3b417178ec7/embed" frameborder="0"
          allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
      </div>
      Holopedia ~ Future Chemical Substance Proposed Holographic View
    </div>
  
    <div fxFlex="40">
      <video id="quantumneurofeedback" controls="" autoplay="" loop name="media" width="100%">
        <source src="assets/images/holopyramid.mp4" type="video/mp4">
      </video>
      Holopedia ~ Future Chemical Substance Four Face Pyramid View
    </div>
  
  </div>
