section, footer, nav {
  display: block;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background: linear-gradient(to right, #3f060f , #e81630);
}

/*body:before, body:after {
    content: "";
    position: fixed;
    background: #900;
    left: 0;
    right: 0;
    height: 10px;
}*/





body:before {
    top: 0;
}
body:after {
    bottom: 0;
}
body {
    /*border-left: 10px solid #900;
    border-right: 10px solid #900; */
    margin: 0;
    color: #f7d878;
}

canvas {
	position: absolute;
	background: red;
}

.page{
	-webkit-text-size-adjust: none;
	margin: 0 auto;
	padding: 10px;
	height: 100vh;
	perspective: 270px;
}

.leftSide {
	float:left;
	width: 50%;
	transform: rotateY(12deg);
}

.rightSide {
	float:right;
	width: 50%;
	transform: rotateY(-12deg);
}



.siteTitle {
	text-shadow: 3px 3px 4px #5a4504;
}


.helper {
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.hexPortal img {
	width:100%;
} 

    section.container {
      width: 210px;
      height: 160px;
	  margin: auto;
      position: relative;
      -webkit-perspective: 1100px;
         -moz-perspective: 1100px;
           -o-perspective: 1100px;
              perspective: 1100px;
    }

    #carousel {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;
    }

    .ready #carousel {
      -webkit-transition: -webkit-transform 1s;
         -moz-transition: -moz-transform 1s;
           -o-transition: -o-transform 1s;
              transition: transform 1s;
    }

    #carousel.panels-backface-invisible figure {
      -webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
           -o-backface-visibility: hidden;
              backface-visibility: hidden;
    }

	
	#mainPortal {
      width: 212px;
      height: 246px;
	}

    #carousel figure {
      display: block;
      position: absolute;
      width: 212px;
      height: 246px;
      left: 10px;
      top: 10px;
      font-size: 24px;
      font-weight: bold;
      color: white;
      text-align: center;	      
		background-size: 100%;
		background-repeat: no-repeat;
	
    }
		#carousel figure .hexdiv {
			width: 212px;
			height: 246px;
		}
		
		#carousel figure .hexdiv img {
			width: 99%;
		}
		
		#carousel figure .subdiv {
		}
	

	
    .ready #carousel figure {
      -webkit-transition: opacity 1s, -webkit-transform 1s;
         -moz-transition: opacity 1s, -moz-transform 1s;
           -o-transition: opacity 1s, -o-transform 1s;
              transition: opacity 1s, transform 1s;
    }
	
	.ready #carousel-outer {
    transform-style: preserve-3d;
     animation: rotating 4s linear infinite reverse; 
     animation-play-state: paused;
  }
	
	.ready #carousel-outerer {
    transform-style: preserve-3d;
     animation: rotating 8s linear infinite ; 
     animation-play-state: paused;
  }

  .ready #carousel {
	   animation: rotating 16s linear infinite; 
  }

	.ready #carousel:hover {
    animation-play-state: paused;
  }

  .carousel-wrapper {
    height: 260px;
    position: relative;
  }
  
  .carousel-buttons {
    position: absolute;
    width: 100%;
    height: 300px;
  }
  
  .carousel-button {
    width: 30%;
    height: 300px;
  }

  .carousel-button.left-button {
    float: left;
  }

  .carousel-button.right-button {
    float: right;
  }
	
	@keyframes rotating {
	  from {
		-ms-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-webkit-transform: rotateY(0deg);
		-o-transform: rotateY(0deg);
		transform: rotateY(0deg);
	  }
	  to {
		-ms-transform: rotateY(360deg);
		-moz-transform: rotateY(360deg);
		-webkit-transform: rotateY(360deg);
		-o-transform: rotateY(360deg);
		transform: rotateY(360deg);
	  }
	}
	
	.hexPortal {
	margin: auto;   
    width: 26vh;
    height: 42vh;
	padding: 4.5vh 3.9vh;
	
}
	 
	.leftWing, .rightWing {
		width:24%;
		float:left;
		
	}
	
	.leftWing {
		margin-left: 30px;
		
	}
	
	.centerWing {
		width:44%;
		float:left;
	}
	
	.portal {
		    padding: 50px;
    height: 36vh;
    margin: 20px;
	}
	
	.logo {
		width: 30px;
		float: left;
		padding: 6px 10px;
	}
	
	.satelitePortal {
		    width: 9vh;
    height: 11vh;
    padding: 1.5vh 1.3vh;
	}
	.leftWing .satelitePortal {
	    float: right;
	}
	.rightWing .satelitePortal {
	    float: left;
	}
	
	.websitePresentation {
		margin: 100px auto 0;
		width: 60%;
	}
	
	.rotated {
		transform: rotateY(-14deg);
		transition-duration: 0.6s;
	}	

	.screenshot {
		box-shadow: 8px 10px 20px #000;
		border: 8px solid #900000;
		min-height: 200px;
	}
	
	.website_description {
		width: 80%;
		padding: 20px 30px;
		background-color: #f8e5b4;
		color: #900000;
		box-shadow: 8px 20px 40px #000;
		margin: -48px auto 0 -24px;
		text-align: justify;
		border: 6px solid #900000;
		font-size: 2vh;
	}
	
	.reightSideRedirectLink {
		font-size: 0;
	}

	
	.screenshot img {
		width: 100%;  
	}
	
	.hexFrame {
    background-image: url('../images/HexOrg1000.png');
    background-size: 100%;
    background-repeat: no-repeat;
	text-align: center;
		
	}
	.hexFrame img { 
		width:100%; 
	}
		
	.hexPortal img {
		margin-bottom: 40px;
	}


a {
  color: #fdc30d;
  text-decoration: none;
}

a:hover {
  background-color: transparent;
  color: #fce59a;
}

#options {
  position: relative;
  z-index: 100;
  margin-bottom: 40px;
}

button {
  font-size: 16px;
  -webkit-appearance: push-button;
}

footer {
  border-top: 1px solid #CCC;
  font-size: 0.8em;
  position: relative;
  z-index: 100;
}

#disclaimer {
  color: red;
  font-weight: bold;
  display: none;
}
.no-csstransforms3d #disclaimer { display: block; }

hr {
  border: none;
  border-top: 1px solid #CCC;
}

figure {
  margin: 0;
}

code {
  font-family: 'Monaco', 'Menlo', monospace;
}

/* index navigation */

.index nav ul {
  list-style: none;
  margin: 0 0 3.0em 0;
  padding: 0;
}

.index nav ul a {
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  padding: 10px;
  border: 1px solid #CCC;
  border-bottom: none;
}

.index nav ul li:first-child a {
  border-radius: 10px 10px 0 0;
}

.index nav ul li:last-child a {
  border-radius: 0 0 10px 10px;
  border-bottom: 1px solid #CCC;
}

/**** Docs ****/

body.doc { max-width: 900px; }

.doc #content {
  font-size: 14px;  
  line-height: 1.5em;
}

.doc #content blockquote {
  margin-left: 0;
  padding: 0.8em;
  background: #EEE;
  background: hsla( 0, 0%, 0%, 0.04 );
}

.doc #content img {
  border: 1px solid #CCC;
  display: inline-block;
}

.doc #content pre {
  font-size: 12px;
  line-height: 1.5em;
}

.doc nav h1 {
  font-size: 20px;
}

.doc nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.doc nav li a {
  display: block;
  padding: 0.3em 0;
}

.doc nav li.current a {
  font-weight: bold;
  color: #333;
}
.doc nav li.current a:hover { color: white; }



@media screen and (min-width: 768px) {

  body.doc #content {
    padding-left: 220px;
  }

  .doc #doc-nav-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }

  .doc .doc-nav-positioner {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
  }

  .doc nav {
    width: 200px;
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .doc nav h1 {
    margin-top: 0;
  }

}

/* proxy range */

.proxy-range {
  display: inline-block;
  position: relative;
  height: 30px;
  width: 200px;
  border: 1px solid hsla( 0, 0%, 0%, 0.15 );
  background-color: hsla( 0, 0%, 0%, 0.02 );
  border-radius: 15px;
  box-shadow: inset 0 1px 7px hsla( 0, 0%, 0%, 0.3 );
}

.proxy-range.highlighted {
  background-color: hsla( 220, 90%, 50%, 0.15 );
}

.proxy-range .handle {
  width: 38px;
  height: 38px;
  border-radius: 20px;
  border: 1px solid hsla(0, 0%, 0%, 0.3);
  position: absolute;
  top: -5px;
  left: -20px;
  background-color: hsla( 220, 70%, 60%, 1.0 );
  background-image: -webkit-gradient(radial, center 15%, 0, center 30%, 30, 
    from(            hsla( 0, 0%, 100%, 0.6 ) ),  
    color-stop( 50%, hsla( 0, 0%, 100%, 0.0 ) ),
    color-stop( 50%, hsla( 0, 0%,   0%, 0.0 ) ),
    to(              hsla( 0, 0%,   0%, 0.5 ) )
  );
  background-image: -moz-radial-gradient(center 30%, cover,
    hsla( 0, 0%, 100%, 0.5 ),  
    hsla( 0, 0%, 100%, 0.0 ) 50%,
    hsla( 0, 0%,   0%, 0.0 ) 50%,
    hsla( 0, 0%,   0%, 0.5 )
  );
  box-shadow: 
    0  2px 0px -1px hsla( 0, 0%, 100%, 0.7 ) inset, 
    0 -4px 2px -1px hsla( 0, 0%,   0%, 0.1 ) inset, 
    0  1px 2px  0px hsla( 0, 0%,   0%, 0.3 )
  ;
  -webkit-transition-property: width, height, top, left, -webkit-border-radius;
     -moz-transition-property: width, height, top, left, -moz-border-radius;
  -webkit-transition-duration: 0.1s;
     -moz-transition-duration: 0.1s;
}

.proxy-range.highlighted .handle {
  height: 98px;
  top: -35px;
  width: 4px;
  left: -3px;
  background-image: -webkit-gradient(linear, 0 top, 0 bottom, 
    from(            hsla( 0, 0%, 100%, 0.6 ) ),  
    color-stop( 50%, hsla( 0, 0%, 100%, 0.0 ) ),
    color-stop( 50%, hsla( 0, 0%,   0%, 0.0 ) ),
    to(              hsla( 0, 0%,   0%, 0.5 ) )
  );
  border-radius: 3px;
}




/******* Pygments *******/



pre {
  background: #111;
  color: white;
  padding: 0.8em;
  white-space: pre-wrap;
}


code .s1,
code .s { color: #78BD55; } /* string */
code .mi, /* integer */
code .cp { color: #5298D4; } /* doctype */
code .k { color: #E39B79; } /* keyword */
code .kd, /* storage */
code .na { color: #A9D866; } /* markup attribute */
code .p  { color: #EDB; } /* punctuation */
code .o  { color: #F63; }   /* operator */
code .nb { color: #AA97AC;} /* support */

/* comment */
code .c,
code .c1 { color: #666; font-style: italic; }

code .nt { color: #A0C8FC; } /* Markup open tag */

code .nf { color: #9EA8B8; } /* css id */
code .nc { color: #A78352; }  /* CSS class */
code .m  { color: #DE8E50; } /* CSS value */
code .nd { color: #9FAD7E; } /* CSS pseudo selector */