.leftSide {
    float: left;
    width: 100%;
}


app-coin {
    float: left;
    width: 33.3%;
    margin-top: -106px;
}

app-coin:first-child, app-coin:nth-child(6)   {
    margin-left: 16.6%;
}

.holoMandala {
  width: 732px;
  background-image: url("https://quantumfunds.files.wordpress.com/2018/11/12star8frame.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 536px;
  margin: 100px auto;
  padding: 314px 154px;
  zoom: .5;
}

.holoMandalaCaption {
  float: left;
  text-align: center;
  font-size: 18px;
  width: 100%;
}



.starMenu {
  position: relative;
}

.starMenuItem {
  position: absolute;
  font-size: 24px;
  cursor: pointer;
}

.starMenuItem:hover {
  font-weight: bold;
}