<div class="content" fxLayout="row" fxLayout.lt-md="column" fxFlexFill>
  <div class="navigation" fxFlex="20" fxFlex.lt-md="100">
    <div class="back-button" (click)="returnToMenu()">🡄 Back</div>
    <app-add-hologram></app-add-hologram>
    <app-categories [categoriesNames]="projectsNames" [categoryType]="'project'"></app-categories>
    <app-categories [categoriesNames]="sourcesNames" [categoryType]="'source'"></app-categories>
    <app-holograms-list [isInSidebar]="true" (toggleFullscreen)="isFullscreen = true"></app-holograms-list>
  </div>
  <div class="pages" fxFlex="80">
    <div *ngIf="selectedHologram" class="aspect-ratio selected-hologram" [ngClass]="{'fullscreen': isFullscreen}">
      <div *ngIf="isFullscreen" class="fullscreen-hologram-topbar">
        <div class="closeButton" (click)="isFullscreen = false">X</div>
      </div>
      <iframe [src]="selectedHologram.url | safe: 'resourceUrl'" frameborder="0" allow="autoplay; encrypted-media"
        allowfullscreen></iframe>
    </div>
  </div>
</div>