.addHologramHint {
  margin: 6px 0;
  opacity: 0.7;
}

.addHologram {
  width: 100%;
  margin: 30px auto;
}

.addHologramText {
  width: calc(100% - 140px);
  height: 36px;
  padding: 0 10px;
}

.addHologramButton {
  height: 40px;
  width: 100px;
  font-size: 16px;
  background-color: #f6bd52;
  color: #900000;
  font-weight: bold;
  cursor: pointer;
}