.navigation {
  zoom: .61;
}

.sevenlevels {
  background-image: url("/assets/images/sevenlevels.png");
  background-repeat: no-repeat;
  height: 316px;
  padding-top: 69px;
  text-align: center;
  max-width: 406px;
  font-size: 28px;
  line-height: 45px;
  margin: -84px auto 40px;
  background-size: 100% 100%;
  letter-spacing: 1px;
  font-weight: 600;
}

.sevenlevels .menuitem {
  cursor: pointer;
  text-decoration: none;
}

path {
  fill: red;
}

text {
  fill: #FF9800;
}

.revolverMaps {
  margin-bottom: -110px;
}

.menuHologram {
  text-align: center;
  height: 300px;
}

.menuItemPreviewName {
  text-align: center;
  vertical-align: middle;
  line-height: 300px; 
  font-size: 42px;
}