.nmrElementsTable {
  td, th {
    padding: 2px 20px;
    border: 1px solid #f7d878ad;
  }

}
.magnetic-field-input {
  margin-bottom: 10px;
  input {
    width: 50px;
    background: transparent;
    border: 1px solid #f7d878ad;
    color: #f7d878;
    padding: 4px 8px;
  }
}